
body,
html {
    width: 100%;
    height: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}
/*.top-panel{
    height:569px;
    background-image:url('../img/high-resolution-wood-pile.png'), url('../img/bckgr-img2.png');
    background-size: 51%,51%;
    background-repeat: no-repeat;
    background-position:left top, right top;
}*/
.topnav {
    font-size: 14px; 
}
.navbar-default{
    background-color: black;
    border: none;
}
.navbar-default .navbar-collapse{
    border:none;
    background-color: black;

}

.navbar-default .navbar-brand{
    color:#fff;
}
.navbar-default .navbar-nav>li>a{
    color:#fff;
}
.navbar-default .navbar-toggle .icon-bar{
    background-color:#bea67c;
}
.navbar-default .navbar-toggle{
    border:none;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
    background-color: transparent;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
    color:#999;
}
.intro-message h1{
    color:#bea67c
}
.wooder {
    text-align: center;
}
.wooder-img{
    margin:auto;
    float: none;
}
.wooder-img img{
    border-radius: 50%;
}
.about{
    border:solid white 1px;
    padding: 5px 50px!important;
    width:220px;
    margin:0 auto;
}
.about a{
    color:white;
}
.lead {
    font-size: 18px;
    font-weight: 400;
}

.intro-header {
    padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background: url(../img/high-resolution-wood-pile.png) no-repeat center center;
    background-size: cover;
}

.intro-message {
    position: relative;
    padding-top: 20%;
    padding-bottom: 20%;
}

.intro-message > h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 5em;
}

.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.intro-message > h3 {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

@media(max-width:767px) {
    .intro-message {
        padding-bottom: 15%;
    }

    .intro-message > h1 {
        font-size: 3em;
    }

    ul.intro-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.intro-social-buttons > li:last-child {
        margin-bottom: 0;
    }

    .intro-divider {
        width: 100%;
    }
}

.network-name {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
}

.content-section-a {
    padding: 50px 0;
    background-color: #f8f8f8;
}

.content-section-b {
    padding: 50px 0;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

.section-heading {
    margin-bottom: 30px;
}

.section-heading-spacer {
    float: left;
    width: 200px;
    border-top: 3px solid #e7e7e7;
}

.banner {
    padding: 100px 0;
    color: #f8f8f8;
    background: url(../img/banner-background.png) no-repeat center center;
    background-size: cover;

}

.banner h2 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 3em;
}


.box{
   border:solid #bea67c 1px;
    height:400px
}
.box .col-sm-5{
    left:20%;
    padding-top:50px
}
.box .col-sm-5 .section-heading{
    color:#bea67c
}
.banner ul {
    margin-bottom: 0;
}

.banner-social-buttons {
    float: right;
    margin-top: 0;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        float: left;
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    .banner h2 {
        margin: 0;
        text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
        font-size: 3em;
    }

    ul.banner-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons > li:last-child {
        margin-bottom: 0;
    }
}

footer {
    padding: 50px 0;
    background-color: #000;
}
footer li, footer p, footer a{
    color: #fff;

}
a:focus, a:hover{
    text-decoration: none;
}
p.copyright {
    margin: 15px 0 0;
}